{% extends 'products/base.html' %}

{% block content %}
	<div id='calendar'></div>

	<p>{{ object_list }}</p>

	{% for p in object_list %}
		<p>{{ p }} - {{ p.product }}</p>
	{% endfor %}
{% endblock %}

{% block extra_head %}
	<link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css' rel='stylesheet' />
	<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			timeFormat: "H:mm",
	        header: {
	            left: 'prev,next today',
	            center: 'title',
	            right: 'month,agendaWeek,agendaDay',
	        },
	        defaultDate: '{{ month|date:"c" }}',
	        defaultView: 'month',
	        events: [
	        	{% for e in object_list %}
	        		{
	        			title:'{{ e.product }}',
	        			start: '{{ e.date_start|date:"c" }}',
	        			end: '{{ e.date_end|date:"c" }}'
	        		},
	        	{% endfor %}
	        ],  
		});
		$('.fc-prev-button span').click(function(){
			alert('prev ');
			return false;
		});

		$('.fc-next-button span').click(function(){
			alert('next ');
			return false;
		});
	});
	</script>
{% endblock %}